{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "importOrderSeparation": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
